/* You can add global styles to this file, and also import other style files */
/* Add this to your styles.css or component-specific CSS file */

  
  .custom-dialog-content {
    display: flex;
    flex-direction: column;
  }

  .custom-dialog-container {
    max-width: 300px; /* Adjust the width to make the dialog smaller */
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  